# Folders
.idea
**/.idea

.gradle
**/.gradle

.metadata
**/metadata

.settings
**/.settings

bin
**/bin

build
**/build

target
**/target

*.iml
**/*.iml

.project
**/.project

.classpath
**/.classpath

.nb-gradle
**/.nb-gradle

.nb-gradle-properties
**/.nb-gradle-properties

/SBSServer/db/sql/generated/*.sql